<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">

  <extensions>
    <add assembly="NLog.Targets.NetworkJson"/>
  </extensions>

  <targets>

    <target name="Elastic" xsi:type="GDService" guaranteedDeliveryDB="C:\PracticeVelocity\GdDbs\NetworkJSONLoadTest.sqlite" Endpoint="https://d-loga.pvops.com:9200" EndpointType="elastic" EndpointExtraInfo="pv-testapp-loadtest-{0:yyyy.MM.dd}|pv-testapp-loadtest|bG9nc3Rhc2hfd3JpdGVyOmxvZ3N0YXNoMTQxMiQjJSo=" />
    <target name="LogStash" xsi:type="GDService" guaranteedDeliveryDB="C:\PracticeVelocity\GdDbs\NetworkJSONLoadTest.sqlite" Endpoint="tcp://d-loga.pvops.com:8889" EndpointType="logstash" />

  </targets>
  <!--   
        Log levels

        Each log message has associated log level, which identifies how important/detailed the message is. 
        NLog can route log messages based primarily on their logger name and log level.

        NLog supports the following log levels:

        Trace - very detailed logs, which may include high-volume information such as protocol payloads. This log level is typically only enabled during development
        Debug - debugging information, less detailed than trace, typically not enabled in production environment.
        Info - information messages, which are normally enabled in production environment
        Warn - warning messages, typically for non-critical issues, which can be recovered or which are temporary failures
        Error - error messages
        Fatal - very serious errors
    -->

  <rules>
    <logger name="pv-testapp-*" minlevel="Info" maxlevel="Fatal" writeTo="LogStash" enabled="false" />
    <logger name="pv-testapp-*" minlevel="Info" maxlevel="Fatal" writeTo="Elastic" enabled="true" />
  </rules>
</nlog>

