<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log">
  <extensions>
    <add assembly="NLog.Targets.NetworkJson"/>
  </extensions>
  <targets async="true">
    <target name="Elastic" xsi:type="GDService" guaranteedDeliveryDB="C:\PracticeVelocity\GdDbs\GDDiagnostics.sqlite" Endpoint="https://d-loga.pvops.com:9200" EndpointType="elastic" EndpointExtraInfo="pv-supportapp-gdnetworkjsonservice-{0:yyyy.MM.dd}|pv-supportapp-gdnetworkjsonservice|bG9nc3Rhc2hfd3JpdGVyOmxvZ3N0YXNoMTQxMiQjJSo=" />
    <target name="LogStash" xsi:type="GDService" guaranteedDeliveryDB="C:\PracticeVelocity\GdDbs\GDDiagnostics.sqlite" Endpoint="tcp://d-loga.pvops.com:8889" EndpointType="logstash" />


    <target name="ConsoleLog" xsi:type="ColoredConsole" detectConsoleAvailable="true" layout="${message}${newline}${event-properties:item=data}" />
    <target name="ErrorConsoleLog" xsi:type="ColoredConsole" errorStream="true" detectConsoleAvailable="true" layout="${message}${newline}${event-properties:item=data}${newline}${exception:format=message,shorttype}" />
  </targets>

  <rules>
    <logger name="pv-supportapp-gdnetworkjsonservice*" minlevel="Info" maxlevel="Fatal" writeTo="LogStash" enabled="false" />
    <logger name="pv-supportapp-gdnetworkjsonservice*" minlevel="Info" maxlevel="Fatal" writeTo="Elastic" enabled="true" />
    
    <!--Log for all console-->
    <logger name="*" minlevel="Error" maxlevel="Fatal" writeTo="ErrorConsoleLog" enabled="true" />
    <logger name="*" minlevel="Info" maxlevel="Warn" writeTo="ConsoleLog" enabled="true" />
    <logger name="*" minlevel="Trace" maxlevel="Debug" writeTo="ConsoleLog" enabled="true" />
  </rules>
</nlog>
